
body{
    background-color: #efefef;
    font-family: "Open Sans",sans-serif;
}


#indexContenidoJsp{
    margin-top: 20px;
}

.margen-superior{
    margin-top: 60px;
}
.margen-superiorForm{
    margin-top: 200px;
}

.margen-contenido {
    margin-left: 60px;
}

/* Navbar */
.navbar {
    border: 0;
    min-height: 32px;
    height: 32px;
}

.navbar, .dropdown-menu{
    background-color:#176185;
}

.dropdown-menu a:hover, .navbar a:hover{
    background-color:#5c6e7d !important;
}
.navbar a{
    color: #e8e8e8 !important;
}

.botones-izq {
    padding: 0;
    float: left;
    height: 32px !important;
}

.botones-izq > li {
    padding-left: 15px;
    padding-right: 15px;
    height: 32px !important;
    padding-top: 7px;
}

.botones-izq > li:hover {
    background-color: #578CA7 !important;
}

.botones-izq > li > a:hover {
    background-color: #578CA7 !important;
    text-decoration: none;
}

.botones-izq > li > a {
    text-decoration: none;
}
.enlace {  
}

.enlace > a {
    padding-left: 15px;
    padding-right: 15px;  
    padding-top: 7px;
}

.enlace > a:hover {
    background-color: #578CA7 !important;
    text-decoration: none;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

 b {
    margin-right: 10px;
}

.botones-der {
    float: right;
    margin-left: 200px;
}

/* Intro de la pagina de inicio */
.intro {
    position: relative;
    background: url(../../images/entrada.jpg) no-repeat center center;
    background-size: 100% 500px;
    top: 20px;
    padding: 370px 0 75px 0;
    color: white;
}


.informaInicio {
    margin-top: 10px;
}


/*inicio de la pagina*/

.cuerpo{
    width: 100%;
    height: 600px;


}


/*formulario de entrada*/
.formLogueo{
    margin-top: 10px;
    border: 1px solid whitesmoke;
    background-color: white;
    height: 260px;
    width: 420px;
    padding-left: 10px;
    color:black;
}


.parteUsu{
    padding-top: 15px;
    padding-left: 30px;
}

#inputLogin{
    width: 320px;
    padding-left: 5px;
}

.partePass{
    margin-top: 20px;
    padding-left: 30px;
}

#inputPassword{
    width: 320px;
    padding-left: 5px;
}


.entrar{
    background-color: #176185;
    color: white;
    width: 150px;
    margin-left: 30px;
}


/*PRINCIPAL*/
.proyectosMostrar{
    margin-top: 80px;
    margin-left: 70px;

}.proyectoCaja{
    margin-top: 30px;
    margin-left: 10px;

}

#cdawrap{
    display: none;

}
/*----------------------------------------*/




/* Cabecera de las tablas */
.panel-default > .panel-heading {
    background-color:#2e7091;
    color:white;
}

th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #176185;
}

.datepicker th{
    background-color: white;
    color: black;
}

/* SIDEBAR */

.sidebar {
    border: 0;
    border-radius: 0;
    position: fixed;
    margin-top: 32px;
    width: 160px;
    height: 900px;
    background-color: #176185;
}

.list-group-item {
    border: 0;
    border-radius: 0 !important;
    color: whitesmoke !important;
    background-color: #176185;
}

.list-group-item:hover {
    cursor: pointer;
    border: 0;
    border-radius: 0 !important;
    color: whitesmoke !important;
    background-color: #2e7091 !important;
}

ul li {
    list-style: none;
}

.navegador, .subnavegador{
    padding: 0;
}

.navegador{
    margin-top: 10px;
}

.navegador > li > p {
    font-size: 14px;
    font-weight: 300;
}

.subnavegador > li > a, .subnavegador > li > a:visited {
    font-size: 13px;
    font-weight: 600;
    background-color: #2e7091;
    padding-left: 30px;

}

/* ESCRITORIO */

.bloque {
    float: left;
    border: 1px solid whitesmoke;
    background-color: white;
    padding: 0;
    padding-bottom: 20px;
    margin-top: 20px;
    
}

.bloque:nth-child(2),.bloque:nth-child(5) {
    margin-left: 50px;
}

.bloque:nth-child(3), .bloque:nth-child(4) {
    margin-left: 55px;
}


.td-padding {
    padding-left: 50px !important;
}

.bloque > p {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.bloque-superior {
    height: 60px !important;
    margin-top: 10px;
}

.h1escritorio {
    font-size: 23px;
    margin-top: 70px;
    margin-left: 50px;
}

.centered {
    text-align: center;
    padding-top: 10px;
    background-color: #176185;
    color: white;
}

.paddiv {
    padding-left: 20px;
    padding-right: 20px;
}
/* SPINNER */

.spinner {
    background: url(../../images/spinner.gif) no-repeat;
    height: 318px;
    background-size: 200px 100px;
}

.porcien {
    width: 100% !important;
}

.sinmargin {
    margin: 0;
}

/* LOGO LOGIN */

.logo-login {
    background: url(../../images/library-logo-login.png) no-repeat;
    height: 238px;
    width: 200px;
}

.logo-login-margin {
    margin-left: 20px;
}

/* FORMULARIOS */

.euros {
    padding: 0;
    margin-top: 7px;
}